<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {{#each cars}}
  <div class="col">
    <div class="card h-100">
      <img src="/images/{{filename}}" class="card-img-top" alt="{{make}} {{model}}">
      <div class="card-body">
        <h5 class="card-title">{{make}} {{model}}</h5>
        <p class="card-text">{{year}} {{color}} {{body_type}} {{#if is_luxury}}Luxury{{else}}Standard{{/if}}</p>
        <a href="/cars/{{make}}/{{model}}" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>