<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/{{vehicle.filename}}" class="card-img" alt="{{vehicle.make}} {{vehicle.model}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{vehicle.make}} {{vehicle.model}}</h5>
        <p class="card-text">Year: {{vehicle.year}}</p>
        <p class="card-text">Color: {{vehicle.color}}</p>
        <p class="card-text">Luxury: {{#if vehicle.is_luxury}}Yes{{else}}No{{/if}}</p>
        <p class="card-text">Body Type: {{vehicle.body_type}}</p>
        <p class="card-text">Fuel Type: {{vehicle.fuel_type}}</p>
        <p class="card-text">Seating Capacity: {{vehicle.seating_capacity}}</p>
        <p class="card-text">Transmission: {{#if vehicle.is_automatic}}Automatic{{else}}Manual{{/if}}</p>
        <p class="card-text"><small class="text-muted">Filename: {{vehicle.filename}}</small></p>
      </div>
    </div>
  </div>
</div>