{{#if loggedIn}}
  <div class="dashboard">
  <p>Welcome {{username}}! Your user ID: <span class="dashboard-userid">{{userid}}</span></p>
  <div class="dashboard-btns">
    <button id="new-post">New Post</button>
  </div>
  <form id="new-post-form" class="new-post-form invisible">
    <label for="post-title-input">Enter Title </label><br>
    <input type="text" id="post-title-input"><br>
    <label for="post-body-input">Enter Content </label><br>
    <textarea id="post-body-input" cols="30" rows="10"></textarea><br>
    <select id="select-vehicle">
    </select>
    <div class="post-form-btns">
      <button id="submit-post-form">Post</button>
      <button id="close-post-form">Close</button>
    </div>
  </form>
  <div id="postings-container" class="postings-container">
    {{> postings}}
  </div>
  <script src="/js/dashboard.js"></script>
</div>
{{else}}

<article id="welcome">
  <p>
    Welcome to our car rental website, where you can easily find and book the perfect car for your needs. Whether you're traveling for business or pleasure, our wide selection of vehicles has something for everyone. From sleek sports cars to spacious SUVs, we have it all.
  </p>
  <p>
    To get started, please <a href="/login">login</a> or <a href="signup">register</a>.
  </p>
</article>

<section id="cars_bl">
  {{#each carsArr as |car| }}
    <div class="cars_block">
      <img src="./images/{{car.filename}}" alt="img-cars">
      <ul>
        <li>{{car.make}} {{car.model}}</li>
        <li>{{year}} {{fuel_type}}</li>
        <li>{{color}}</li>
      </ul>
    </div>
  {{/each}}
</section>
{{/if}}

<footer>
  <p>
    © 2023 Cars4any1 - This is a forum for cars.
  </p>
</footer>