{{#if loggedIn}}
 
{{>posting-card}}
{{else}}

<article id="welcome">
  <p>
    Welcome to our car rental website, where you can easily find and book the perfect car for your needs. Whether you're traveling for business or pleasure, our wide selection of vehicles has something for everyone. From sleek sports cars to spacious SUVs, we have it all.
  </p>
  <p>
    To get started, please <a href="/login">login</a> or <a href="signup">register</a>.
  </p>
</article>

<section id="cars_bl">
  {{#each carsArr as |car| }}
    <div class="cars_block">
      <img src="./images/{{car.filename}}" alt="img-cars">
      <ul>
        <li>{{car.make}} {{car.model}}</li>
        <li>{{year}} {{fuel_type}}</li>
        <li>{{color}}</li>
      </ul>
    </div>
  {{/each}}
</section>


{{/if}}
